.footer {    
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 6rem;
    
    .nav {        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 5rem;
        list-style: none;
        align-items: center;

        &__link:visited,
        &__link:link {
            font-size: 1.4rem;
            color: white;
            text-decoration: none;
            font-family: $font-display;
            text-transform: uppercase;
            text-align: center;
            padding: 1.5rem;
            display: block;
        }

        &__link:hover,
        &__link:active {            
            background-color: rgba($color: white, $alpha: .05);
            outline: none;
        }
    }

    .copyright {
        text-align: center;
        font-size: 1.4rem;
        color: $color-grey-light-1;
        margin-top: 6rem;
    }
}
